*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: black;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background 500ms;
}

.clock{
    background: antiquewhite;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 180px;
}

.hour{
    background: rgb(20, 20, 20);
    border-radius: 10px;
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding: 10px;
}

.minute{
    background: rgb(20, 20, 20);
    border-radius: 10px;
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.second{
    background: rgb(20, 20, 20);
    border-radius: 10px;
    color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

.morning{
    background: linear-gradient(50deg, #aa9613d8, #660404da);
    transition: background 0.9ms;
    
}

.partTime{
    background: linear-gradient(45deg, yellow, white);
    transition: background 0.9ms;
}

.sunset{
    background: linear-gradient(45deg, #ee9726, #000000 );
    transition: background 0.9ms;
}

.nigth{
    background: black;
    transition: background 0.9ms;
}




